body {
  background: white;
  width: 100%;
  margin:auto;
  font-family: Orbitron, sans-serif;
  color: #FF00FF;
  font-size: 30px;
}
.header {
  background-color: black;
  text-align: center;
  width: 100%;
  margin: 0 20px;
  border-bottom: 4px solid #FF00FF;
  padding: 32px;
}
